/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
}

.artist-name {
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 5px;
    display: inline-block; /* Pour centrer */
}

.artist-name:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.slogan {
    font-size: 16px;
    color: #6e6c6c;
    margin-top: 5px;
}

/* Pour centrer les éléments dans le navbar */
.navbar-nav {
    margin: 0 auto;
}

/* Style du bouton de menu mobile avec contour gris */
/* .navbar-toggler {
    border: 1px solid #888888;
} */

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffffff; /* Pour assurer la visibilité du bouton */
}

/* Centrer le bouton de menu mobile */
.d-block {
    margin: 0 auto;
    text-align: center;
}

.modal-dialog {
    margin:50px 20px; /* Décalage de 100px vers le bas */
}

/* Style du fond autour du modal */
/* Style du fond autour du modal */
.modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Gris semi-transparent */
    z-index: -1; /* Assure que le fond reste derrière le modal */
}

/* Pour centrer les éléments dans le modal */
.modal-body {
    text-align: center;
}

/* Style du fond du modal */
.modal-content {
    background-color: #fff; /* Gris sombre */
    color: #333; /* Blanc */
}

.list-group-item {
    background-color: #fff; /* Gris sombre */
    border-color: #e9e9e9; /* Couleur de la bordure */
}

.link-page{
    background-color: #fff; /* Gris sombre */
    border-color: #d1d1d1; /* Couleur de la bordure */
    color: #000; /* Blanc */
    text-decoration: none; /* Supprimer le soulignement */
}

.link-page:hover {
    color: #666; /* Gris sombre */
    text-decoration: none !important; /* Supprimer le soulignement */
}

.active {
    font-weight: 500; /* Gras pour l'élément actif */
}



/* Footer */
.content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container img {
    max-height: 100%;
    max-width: 49%;
    margin: 0 0.5%;
    object-fit: contain;
}
.footer-separator {
    border-top: 1px solid #ddd; /* Ligne séparatrice grise */
    margin-top: 20px; /* Marge au-dessus de la ligne */
    margin-bottom: 0; /* Supprime la marge en dessous de la ligne */
}
footer {
    background: #ffffff; /* Couleur de fond du footer */
    padding: 10px 0; /* Padding pour le footer */
}
.footer-copyright {
    font-size: 14px;
    color: #666;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social li {
    display: inline-block;
    margin-left: 10px;
}

.footer-social li:first-child {
    margin-left: 0;
}

.footer-social li a {
    color: #666;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social li a:hover {
    color: #000;
}
/* Responsive styles */
@media (max-width: 767.98px) {
    .footer-social {
        margin-top: -30px;
        text-align: center;
    }
}

/* Contact Section Styles */
.contact-section {
    padding: 50px 0;
}

.contact-link {
    color: #333;
}

.contact-link:hover {
    color: #999;
}

.card {
    border: 1px solid #b6b6b6; /* Ajout de la bordure */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
    transition: all 0.3s ease; /* Ajout de la transition */
}

.card:hover {
    transform: scale(1.05); /* Animation de zoom au survol */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Changement de l'ombre au survol */
}

.card-body {
    padding: 20px;
}

.card-body .fa-3x {
    margin-bottom: 10px;
}


/* Biographie "a propos" */
.biography-section {
    padding: 50px 0;
}

.biography-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.biography-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Style pour les informations sur l'oeuvre */
.overlayy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Nouvelle ligne ajoutée */
    text-align: center; /* Nouvelle ligne ajoutée */
    padding: 20px; /* Nouvelle ligne ajoutée */
}

.work:hover .overlayy {
    opacity: 1;
}

/* Style pour les images */
.work img {
    width: 100%;
    height: auto;
}

/* Espacement entre les images */
.work {
    margin-bottom: 20px;
}

.bannerr {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0; /* Couleur de fond épurée */
    color: #333;
    padding: 20px; /* Augmentation du padding pour plus d'espace */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.bannerr p {
    margin: 0; /* Supprimer la marge par défaut du paragraphe */
    font-size: 16px; /* Taille de police légèrement augmentée */
    line-height: 1.5; /* Espacement entre les lignes pour une meilleure lisibilité */
}

.bannerr button {
    background-color: #4CAF50; /* Couleur de bouton moderne */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition fluide */
}

.bannerr button:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}

.arti:hover {
  color: #b6b6b6;
}